/* Color variable beginning */


$greenery: #A7E163;
$dark-blue: #2589BD;
$white-color: #ffffff;
$dark-white: #CECECE;
$sky-blue: #4FFBFF;


/* Color variable ending */

/* Text alignment block beginning */

/* Align text center alignment */
$text-center: center;

/* None variable */
$none: none;

/* relative */
$relative: relative;

/* relative */
$absolute: absolute;

/* Hidden */
$hidden: hidden;

/* Transparent */
$transparent: transparent;

/* Text alignment block ending */